.contentContainer{
    display: flex;
    flex-flow: row;
}

.formContainer{
    padding-left: 10%;
    padding-bottom: 10%;
}

.formContainer>label{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 15px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.linksContainer>img {
    max-width: auto;
    max-height: 75px;

}

.linksContainer>a {
    display:inline-block;
}

a img {
    max-height:75px;
    max-width:auto;
}

.turtleSlide{
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 3.0s;
}

@keyframes fade{
    from {opacity: .5}
    to {opacity: 1}
}